[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
facebook-sdk = "*"
django-constance = {version = "*", extras = ["database"]}
"psycopg2-binary" = "*"
django-model-utils = "*"
tweepy = {ref = "master", git = "https://github.com/tweepy/tweepy"}

[dev-packages]
black = "*"
"flake8" = "*"
isort = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
