{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'js/publish-post.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'css/publish-post.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="publish-post">
    <h1>You're about to publish "{{post.title}}" 🚀</h1>
    <div class="publish-post--tabs--wrapper">
        <ul class="publish-post--tabs">
            <span class="publish-post--tabs--lamp"></span>
            <li data-preview-type="fb" data-index="0" class="active">Facebook</li>
            <li data-preview-type="tw" data-index="1">Twitter</li>
            <li data-preview-type="ig" data-index="2">Instagram</li>
        </ul>
    </div>

    <div class="publish-post--preview">
        <div class="publish-post--facebook-post">
            <div class="publish-post--facebook-post--author">
                <span class="publish-post--facebook-post--avatar"></span>
                <div class="publish-post--facebook-post--info">
                    <a>Aurora Borealis Observatory - Visit Senja</a>
                    <span>Soon!</span>
                </div>
            </div>
            <div class="publish-post--facebook-post--post">
                {{post.content|linebreaks}}
            </div>
        </div>
    </div>

    <template id="preview--facebook">
    </template>

    <table>
        <thead>
            <tr>
                <th>Social</th>
                <th>Post already exists</th>
            </tr>
        </thead>
        <tbody>
            {% for social in socials %}
            <tr>
                <td>{{social.name}}</td>
                <td>{{social.already_exists|yesno:'Yes,No'}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <form class="submit-row" method="post">
        {% csrf_token %}
        <input type="submit" name="_publish" value="Publish" />
        <input type="submit" name="_cancel" value="Cancel" />
    <form>
</div>
{% endblock %}
